.main {
  width: 100%;
  font-weight: 600;
}

.video {
  opacity: 0.6;
  position: absolute;
  height: 100%;
  min-width: 100%;
  object-fit: fill;
}

.main-start {
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  color: white;
  position: fixed;
  top:0;
  left: 0;
}

.main-sliders {
  width: 100%;
  margin-top: 100vh;
}

.main-sliders a {
  position: absolute;
  z-index: -1;
}
@media (max-width: 1024px) {
  .main-sliders a {
    margin-top: -70vw;
  }
}

.main-our-services {
  z-index: 10;
  margin-top: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .main-our-services {
    margin-top: 35%;
  }
}
@media (max-width: 350px) {
  .main-our-services {
    margin-top: 15%;
  }
}

.main-our-services p {
  font-size: 200%;
  margin-bottom: 0;
  font-family: "Open Sans",sans-serif;
}

.main-our-services div {
  margin-block-start: 0.83em;
  font-size: 200%;
  margin-bottom: 0;
  font-family: "Open Sans",sans-serif;
}

.main-our-services p.price-info {
  font-size: 80%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
}

.main-our-services-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}
@media (max-width: 350px) {
  .main-our-services-list {
    margin-top: 0;
  }
}

.main-our-services-list li {
  padding: 4px;
  border-bottom: 1px dotted #ffe400;
  flex-basis: 23%;
  text-align: center;
}
@media (max-width: 1024px) {
  .main-our-services-list li {
    flex-basis: 40%;
    padding: 12px;
  }
}
.main-our-services-list li a{
  color:white;
  text-decoration: none;
  font-size: 130%;
}
@media (max-width: 1024px) {
  .main-our-services-list li a{
    font-size: 100%;
  }
}
.main-our-services-list li a:hover {
  cursor: pointer;
  color: #ffe400;
}
