.slider {
  width: 100%;
  height: 100vh;
}
@media (max-width: 1024px) {
  .slider {
    height: 70vw;
  }
}

.slick-track {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-slide div {
  height: 100%;
}

.slider .slick-next {
  z-index: 5;
  right: 2%;
}

.slider .slick-prev {
  left: 2%;
  z-index: 5;
}

.slider-item {
  outline: none;
  height: 100%;
}

.slider-item-image-background {
  background-color:#000;
  outline: none;
}

.slider-item-image {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  outline: none;
}
.opacity {
  opacity: 0;
}

.slider-item-content {
  position: relative;
  margin-top: -100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  color: white;
}

@media (max-width: 1024px) {
  .slider-item-content {
    margin-top: -70vw;
  }
}

.slider-item-content div {
  white-space: pre-wrap;
  width: 75%;
  text-align: center;
  height: auto;
}
@media (max-width: 1024px) {
  .slider-item-content div {
    font-size: 95%;
  }
}

.slider-item-content h3 {
  font-family: "Open Sans",sans-serif;
  text-align: center;
  font-size: 160%;
  margin: 5px;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .slider-item-content h3 {
    font-size: 150%;
  }
}

div.slider-item-content-price {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

div.slider-item-content-price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid grey;
}
div.slider-item-content-price-row:first-child {
  margin-bottom: 5px;
  font-family: "Open Sans",sans-serif;
}
div.slider-item-content-price-row:last-child {
  border-bottom: 0;
}

div.slider-item-content-price-row p{
  font-family: "Open Sans",sans-serif;
  margin-bottom: 5px;
}
 
div.slider-item-content-price-row div{
  font-size: 120%;
}

.special-offers {
  background-color:  #881414;
}
